// Navbar & UI
$background-color: #47a7f5;
$dark-background-color: #084b83;
$ui-color: #DDE3EE;
$bacground-base-color: #fdfff5;
$bold-text-color: #232323;
$regular-text-color: #525252;
$hide-text-color: #B7BAC1;
// state
$normal-color: #37ad4b;
$alarm-color: #e03c30;
$warning-color: rgb(255, 196, 0);

//PaintPage
$backcolor-paint: #f6f6f6;
$toolbar-height: 40px;