%regular-family {
    color: $regular-text-color;
    font-size: 18px;
    font-family: 'roboto';
}

%display-flex-row {
    display: flex;
    margin: 0 1rem;
    align-items: center;
    gap: 1rem;
}

%display-flex-column {
    display: flex;
    flex-direction: column;

}

%display-flex-row-simple {
    display: flex;
    align-items: center;
}